button {
  background-image: linear-gradient(to top left, darken($green, 15%), $green);
  color: white;
  border: none;
  border-radius: $radius;
  font-size: .8em;
  display: inline-block;
  font-family: $primary;
  overflow: hidden;
  padding: 15px 45px 15px 40px;
  position: relative;
  text-decoration: none;
  transition: 0.4s ease;
  z-index: 1;
  cursor: pointer;
  outline: none;
  &:before,
  &:after {
    background-image: linear-gradient(to top left, darken($pink, 15%), $pink);
    transition: 0.3s ease;
    content: '';
    position: absolute;
    z-index: -1;
  }
  &:before {
    top: 0;
    bottom: 0;
    left: -120%;
    transform: skewX(-45deg);
    width: 100%;
  }
  &:after {

  }
}

.top-left {
  &:before {
    top: 0;
    bottom: 0;
    left: -120%;
    transform: skewX(-45deg);
    width: 100%;
  }
  &:hover {
    &:before {
      width: 240%;
    }
  }
}
