button {
  padding: 10px 15px;
  border-radius: $radius;
  border: 0;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  margin-bottom: $nudge;
  background-color: $purple;
  color: $white;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $pink;
  }
}
