input {
  outline: none;
  padding: 10px;
  border-radius: $radius;
  box-shadow: none;
  border: 2px solid transparent;
  margin-bottom: $nudge;
  font-size: 20px;
  transition: all .3s ease-in-out;
  font-family: $primary;
  &:hover {
    opacity: 0.5;

  }
  &:focus {
    border: 2px solid $lighter-blue;
    opacity: 1;
  }
}
