nav {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 8999;
  ul {
    display: flex;
  }
  .left-nav {
    font-family: $logo;
    li {
      font-size: 50px;
      font-weight: bold;
      text-shadow: 3px 3px 3px darken($blue, 10%);
      margin-top: 0;
      padding: 0;
    }
    a {
      color: $white;
      transition: 0.3s all ease-in-out;
      &:hover {
        color: lighten($pink, 20%);
        opacity: 0.7;
      }
    }
  }
  .right-nav {
    ul {
      li {
        span {
          color: $green;
          font-style: italic;
        }
        a {
          font-size: inherit;
          color: $white;
          padding-bottom: $nudge;
          border-bottom: 3px solid $pink;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          &:hover {
            border-bottom: 3px solid $green;
            color: $pink;
          }
        }
      }
    }
  }
}

// Landing page when not logged in
.left a, .right a {
  color: $white;
  padding-bottom: $nudge;
  border-bottom: 3px solid $pink;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    border-bottom: 3px solid $green;
  }
}

.center {
  // color: red;
  font-family: $logo;
}

/// Navigation when not logged in

#right-nav-not-logged-in {
  font-size: 30px;
}
