<div *ngIf='loggedInUser'>
  <app-nav-bar></app-nav-bar>
</div>
<div *ngIf='loggedInUser === null'>
  <nav>
    <div class="left-nav">
      <ul>
        <li><a routerLink=''>LOGO</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="about-container">
  <div class="about-header">
    <h1>About the Team</h1>
  </div>
  <div class="about-body">
    <div class="about-card">
      <div class="about-background">
        <div class="about-wrapper">
          <div class="about-joshua">
          </div>
          <h2>Joshua Fairchild</h2>
          <h3>Betrayer Back End 🍑</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>

    <div class="about-card">
      <div class="about-background2">
        <div class="about-wrapper">
          <div class="about-arianna">
          </div>
          <h2>Arianna Chau</h2>
          <h3>Salty White Mage 🌮</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>

    <div class="about-card">
      <div class="about-background">
        <div class="about-wrapper">
          <div class="about-marilyn">
          </div>
          <h2>Marilyn Carlin</h2>
          <h3>Necromancer Back End 🍕</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>

    <div class="about-card">
      <div class="about-background2">
        <div class="about-wrapper">
          <div class="about-rose">
          </div>
          <h2>Rose Sponseller</h2>
          <h3>Peasant 🌮</h3>
          <p>
          I love to create, which is what brought me to web development. I could happily spend all day plugging away in CSS (rather, Sass) and Adobe Illustrator. When I'm not designing or developing, I enjoy knitting, cooking, eating bread, and doting on my cat.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
