<navbar></navbar>
<!--NAVBAR-->

<div class="search-wrapper">
  <!--USER-SEARCH CONTAINS FORM FOR SEARCHING A USER-->
  <div class="user-search">
    <h2>Search for a Github account</h2>
    <input #username>
    <button (click)='lookupUser(username.value)'>Search</button>
  </div><!--USER SEARCH CLOSES-->

  <!--SEARCHED USER CONTAINS SEARCH RESULTS-->
  <div *ngIf='searchedUser' class="searched-user">
    <img src="{{searchedUser.aviURL}}" class="avatar">

    <div class="searched-header">
      <h2>{{searchedUser.fullName}}</h2>
        <h3>
          <a href="{{searchedUser.ghLink}}">@{{searchedUser.username}}</a></h3>
          <h4><em>{{searchedUser.bio}}</em></h4>
          <hr>
    </div><!--SEARCHED HEADER ENDS-->

    <div class="searched-secondary">
      <p><strong><i class="fa fa-map-marker" aria-hidden="true"></i> Location:</strong> {{searchedUser.location}}</p>
      <p><strong><i class="fa fa-code" aria-hidden="true"></i> Number of repos:</strong> {{searchedUser.repoCount}}</p>
    </div><!--SEARCHED SECONDARY ENDS-->

    <div class="searched-secondary">
    <p><strong>Member since:</strong> {{searchedUser.userSince | date}}</p>
    <p><strong>Last active:</strong> {{searchedUser.lastActive | date}}</p>
    </div><!--SEARCHED SECONDARY ENDS-->

    <div class="searched-secondary">
      <p><strong>Followers:</strong> {{searchedUser.followerCount}}</p>
      <p><strong>Following:</strong> {{searchedUser.followingCount}}</p>
    </div>

    <!--USER REPOS-->
    <div class="results-wrapper">
      <p><strong>Sample Repositories:</strong> </p>
      <ul>
        <li *ngFor='let repo of searchedUser.repos'>
          <p class="repos"><strong><a href="{{repo.repoURL}}">{{repo.repoName}} </a></strong>
            {{repo.language}} |
            {{repo.stars}} stars
            <span *ngIf='repo.homepage'><a href="{{repo.homepage}}">Website</a></span></p>
          </li>
        </ul>

        <!--STARRED REPOS-->
        <p class="starred"><strong>Starred repositories:</strong> </p>
        <ul>
          <li *ngFor='let repo of searchedUser.starredRepos'>
            <img src="{{repo.authorAviUrl}}" class="avatar">
            <p><a href="{{repo.authorUrl}}">{{repo.authorName}}</a>/<strong><a href="{{repo.repoUrl}}">{{repo.repoName}}</a></strong>
             | {{repo.language}} | {{repo.stars}} stars |
            <span *ngIf='repo.homepage'><a href="{{repo.homepage}}">Website</a></span></p>
            <p>{{repo.description}}</p>
          </li>
        </ul>
      </div><!--SEARCHED USER CLOSES-->
    </div><!--RESULTS WRAPPER CLOSES-->
  </div><!--SEARCH WRAPPER CLOSES-->
