<nav>
  <div class="left-nav">
    <ul>
      <li><a routerLink=''>The Hub</a></li>
    </ul>
  </div>

  <div class="right-nav">
    <ul>
      <li *ngIf='githubUsername'><a>Welcome, {{githubUsername}}</a></li>
      <li><a routerLink="/chat-room">Chat Room</a></li>
      <li><a routerLink="/user-search">Search Users</a></li>
      <li><a routerLink='/repo-search'>Search Repos</a></li>
      <li><a routerLink="/about">About</a></li>
      <li (click)='logout()'><a>Log out</a></li>
    </ul>
  </div>
</nav>
