@import "./../vendors/neat/neat";

.chat-wrapper {
  display: flex;
  justify-content: center;
}

.chat-container {
  @include grid-column(12);
  display: flex;
  max-width: 1000px;
  height: 800px;
  background-color: $pink;
  border-radius: $radius;
  box-shadow: $box-shadow;
  margin-bottom: 100px;
  .chat-body {
    @include grid-column(10);
    background-color: lighten($blue, 65%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: auto;
    overflow-y: scroll;
    h2 {
      font-size: 2.5em;
      color: $blue;
    }
    h3 {
      font-size: 1.25em;
    }
    .create-new-chat {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
    #send {
      width: 95%;
      margin: 0 auto;
      form {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
      input {
        width: 80%;
      }
    }
    .userNameAndMessage {
      font-size: 1.2em;
      margin: .6% 2%;
      strong {
      color: $lighter-blue;
      }
    }
    .timestamp {
      font-size: .775em;
      margin-left: 2.5%;
      font-style: italic;
      opacity: 0.45;
    }
  }
  .chat-sidebar {
    @include grid-column(2);
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: $pink;
    color: darken($white, 10%);
    box-shadow: 10px 0 0 darken($pink, 10%);
    overflow: auto;
    padding-right: 20px;
    font-size: 0.9em;

    h3 {
      margin-top: $nudge;
      text-align: center;
      color: darken($white, 10%);
    }
    hr {
      border-top: 5px solid $blue;
      border-bottom: none;
      border-left: none;
      border-right: none;
      width: 85%;
      margin: 0 auto $nudge auto;
    }
    .chatroom-name {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      letter-spacing: $letter-spacing;
      font-size: 1.1em;
      padding-bottom: $nudge;
      span {
        cursor: auto;
        &:hover {
          &:after {
            content: " 👽";
          }
        }
      }
      &:hover {
        color: $blue;
        font-weight: bold;
      }
    }
  }
}

.sidebar-new-chat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .sidebar-new-chat {
    width: 90%;
    display: block;
  }
  .sidebar-button {
    margin: $nudge auto;
  }
}

.empty-chat {
  text-align: center;
  margin-top: $nudge;
}
