@import "./vendors/neat/neat";


.landing-wrapper {
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: -0;
  background-image: linear-gradient(to top, lighten(#181743, 15%), #181743);
}

.landing {
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
  font-size: 50px;
  color: $white;
  display: flex;
  justify-content: space-between;

  .left {
    font-size: 30px;
  }

  .center {
    font-size: 5 0px;
    margin: 0 auto;
  }
  .right {
    font-size: 30px;
  }
}

.placeholder {
  font-size: 300px;
}

.nav-container {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 600px;
  margin: 15vh auto;
  color: darken($white, 15%);
}

// Wavey
.ocean {
  z-index: -1;
  width: 100%;
  height: 5%;
  position:absolute;
  bottom:0;
  left:0;
  background: $purple;
}

.wave {
  background: url(/../assets/images/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 400vw;
  height: 198px;
  animation: wave 50s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 30s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

.placeholder {
  animation: bounce 800ms infinite alternate ease-in-out;
}

@keyframes bounce {
  to {
    transform: translateY(0px);
  }
  from {
    transform: translateY(-20px);
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100vw;
  }
}
@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
