// Search form
.search-wrapper {
  background-color: thistle;
  display: flex;
  flex-direction: column;
  margin: 10vh auto;
  width: 50%;
  .user-search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// Searched information
.searched-user {
  background-color: tomato;
  .searched-header {
    background-color: mistyrose;
    text-align: center;
    padding-bottom: $nudge;
  }
}

.avatar {
  display: flex;
  justify-content: center;
  margin: $nudge auto;
  border-radius: 50%;
  max-width: 85%;
}
