// Search form
.search-wrapper {
  box-shadow: 1px 5px 30px 1px darken($blue, 5%);
  padding: $nudge 0;
  font-size: 1.3em;
  background-color: $background-color;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  margin: 5.2vh auto;
  width: 50%;
  max-width: 800px;
  .user-search {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .avatar {
    display: flex;
    justify-content: center;
    margin: $nudge auto;
    border-radius: 50%;
    width: 300px;
    max-width: 85%;
    background-color: $white;
  }
  .avatar-sm {
    @extend .avatar;
    width: 125px;
  }
  a {
    color: $pink;
    font-size: 1em;
  }
  strong {
    color: lighten($blue, 10%);
  }
  li {
    margin-bottom: 5px;
  }
  .description {
    font-size: .8em;
  }
  .language {
    font-size: .7em;
    font-style: italic;
  }
  .starred-wrapper {
    @include grid-column(12);
    .starred {
      @include grid-column(6);
      height: 350px;
      box-shadow: 1px 1px 5px lighten($lighter-blue, 30%);
      background-color: darken($background-color, 10%);
      margin-bottom: $nudge;
      word-wrap: break-word;
      border-radius: $radius;
      padding: 100px;
      text-align: center;
      font-weight: bold;
      hr {
        margin: 5px auto;
      }
      .starred-top {
        width: 90%;
        margin: 0 auto;
        .starred-info {
          .starred-info-secondary {
            display: block;
            font-size: 0.8em;
          }
        }
        .starred-bottom {
          display: block;
          font-size: 0.75em;
          font-weight: normal;
        }
      }
      .starred-title {
        display: block;
      }
      .starred-bottom {
        display: block;
      }
    }
  }
}
// Searched information
.searched-user {
  background-color: inherit;
  .searched-header {
    background-color: inherit;
    text-align: center;
    line-height: 1.5em;
    padding-bottom: $nudge;
    margin-bottom: $nudge;
  }
  .searched-secondary {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  hr {
    margin-top: $nudge;
    width: 75%;
    margin: 0 auto;
  }
  .results-wrapper {
    padding-top: $nudge;
    width: 80%;
    margin: 0 auto;
    .starred {
      padding: $nudge 0;
    }
  }
}
