<!--LANDING PAGE NAVIGATION-->
<div class="landing">
  <div class="left">
    <p><a routerLink="about">About</a></p>
  </div>
  <div class="center">
    <p>The Hub</p>
  </div>
  <div class="right">
      <p><a href="#" class="sign-in-button">Sign in</a></p>
  </div>
</div>
<!--NAVIGATION-->
<div class="nav-container">
  <h2>The Hub is a lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>

  <i class="fa fa-meh-o placeholder" aria-hidden="true"></i>
  <h1><a href="#">Sign Up with Your Github Account</a></h1>

  <h3></h3>
</div>
