<div class="landing-wrapper">
    <!--LANDING PAGE NAVIGATION-->
    <div *ngIf='loggedIn'>
      <app-nav-bar></app-nav-bar>
    </div>
    <div class="landing" *ngIf='!loggedIn'>
      <div class="left">
        <p><a routerLink="about">About</a></p>
      </div>
      <div class="center">
        <p>The Hub</p>
      </div>
      <div class="right">
        <p><a (click)='login()' class="sign-in-button">Sign in</a></p>
      </div>
    </div>
    <div class="landing-zindex">
    <!--NAVIGATION-->
    <div class="nav-container">
      <h2>The Hub provides an improved Github user experience, including deeper search capabilities and user chatrooms.</h2>

      <!-- <i class="fa fa-rocket placeholder" aria-hidden="true"></i> -->
    <div class="planet-container">
      <div class="planet">
        <div class="ring"></div>
        <div class="ring2"></div>
        <div class="crater1"></div>
        <div class="crater2"></div>
        <div class="crater3"></div>
        <div class="crater4"></div>
        <div class="crater5"></div>
      </div>
    </div>
   <div class="sign-up-wrapper">
     <h1 *ngIf='!loggedIn'><a (click)='login()' class="sign-up">Sign Up With Github <i class="fa fa-github-alt" aria-hidden="true"></i></a></h1>

   </div>
      <h2 *ngIf='loggedIn'>Have a stellar time! 👽</h2>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>

  <!--NAVIGATION-->
      <!-- <div class="container">
        <h2>The Hub is a lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>

        <h3></h3>
      </div> -->

      <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
    </div>
  </div>
</div>
