<div class="landing-wrapper">
    <!--LANDING PAGE NAVIGATION-->
    <div *ngIf='loggedIn'>
      <app-nav-bar></app-nav-bar>
    </div>
    <div class="landing" *ngIf='!loggedIn'>
      <div class="left">
        <p><a routerLink="about">About</a></p>
      </div>
      <div class="center">
        <p>The Hub</p>
      </div>
      <div class="right">
        <p><a (click)='login()' class="sign-in-button">Sign in</a></p>
      </div>
    </div>
    <div class="landing-zindex">
    <!--NAVIGATION-->
    <div class="nav-container">
      <h2>The Hub is a lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>

      <i class="fa fa-rocket placeholder" aria-hidden="true"></i>
      <h1 *ngIf='!loggedIn'><a (click)='login()'>Sign Up with Your Github Account</a></h1>

  <!--NAVIGATION-->
      <div class="container">
        <h2>The Hub is a lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>

        <h3></h3>
      </div>

      <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
    </div>
  </div>
</div>
