<app-nav-bar></app-nav-bar>
<h1>Hello {{loggedInUserName}}</h1>
<h1 *ngIf='chatroomId'>IT's {{(chatRoomToDisplay | async)?.name}}</h1>
<div class="chat-container">
  <div class="chat-sidebar">
    <div>
      <div *ngFor="let chatroom of chatrooms | async">
        <h3 (click)="changeChatRoom(chatroom)">{{chatroom.name}}</h3>
      </div>
    </div>
    <div *ngIf='chatroomId'>
      <h2>Currently in this chatroom:</h2>
      <div *ngFor='let user of chatroomUsers | async'>
        <h3>{{user.username}}</h3>
      </div>
    </div>
  </div>
  <div class="chat-body" #chatBody [scrollTop]="chatBody.scrollHeight">
    <div *ngIf='chatroomId'>
      <div *ngFor="let message of messages">
        <p class="userNameAndMessage"><strong>{{message.userName}}</strong>: {{message.message}}</p>
        <p class="timestamp">{{message.timestamp | date: 'medium'}}</p>
      </div>
      <p *ngIf='messages&&!messages.length'>Nobody has said anything in this chatroom yet.</p>
    </div>
    <div *ngIf='chatroomId' id="send">
      <form>
        <input #input autocomplete="off"><button (click)="beginSending(input.value); input.value=''">Send</button>
      </form>
    </div>
    <div *ngIf='!chatroomId'>
      <h3>Select a chatroom to join on the left, or create a new one.</h3>
      <div>
        <h3>Create New ChatRoom</h3>
        <label>Chat Room Name:</label>
        <br>
        <input #newName>
        <button (click)="submitForm(newName.value); newName.value=''">Add</button>
      </div>
    </div>
  </div>
</div>
