<app-nav-bar></app-nav-bar>
<h1>Hello {{loggedInUserName}}</h1>
<div class="chat-container">
  <div class="chat-sidebar">
    <div *ngFor="let chatroom of chatrooms | async">
      <h3>{{chatroom.name}}</h3>
    </div>
  </div>
  <div class="chat-body" #chatBody [scrollTop]="chatBody.scrollHeight">
    <div>
      <div *ngFor="let message of messages">
        <p class="userNameAndMessage"><strong>{{message.userName}}</strong>: {{message.message}}</p>
        <p class="timestamp">{{message.timestamp | date: 'medium'}}</p>
      </div>
    </div>
    <div id="send">
      <form>
        <input #input autocomplete="off"><button (click)="beginSending(input.value); input.value=''">Send</button>
      </form>
    </div>
  </div>
</div>
