<navbar></navbar>

<div>
  <input #username placeholder="Username">
  <input #repo placeholder="Repo name">
  <button (click)='lookupRepo(username.value, repo.value)'>Search</button>
</div>

<div *ngIf='searchedRepo'>
  <p>Repository name: <a href="{{searchedRepo.repoURL}}">{{searchedRepo.repoName}}</a></p>
  <p>Description: {{searchedRepo.description}}</p>
  <p>Written with: {{searchedRepo.language}}</p>
  <p>Website: {{searchedRepo.homepage}}</p>
  <p>Created by: <a href="{{searchedRepo.userURL}}">{{searchedRepo.createdBy}}</a></p>
  <img src="{{searchedRepo.creatorAviURL}}">
  <p>Clone me: {{searchedRepo.cloneURL}}</p>
  <p>Number of forks: {{searchedRepo.forks}}</p>
  <p>Commits: {{searchedRepo.commitsNumber}}</p>
  <p>Stars: {{searchedRepo.stars}}</p>
  <p>File size: {{searchedRepo.fileSize}} kb</p>
  <p>Number of watchers: {{searchedRepo.watchers}}</p>
  <p>Created at: {{searchedRepo.createdAt | date}}</p>
  <p>Last push: {{searchedRepo.lastUpdatedAt | date}}</p>
</div>
