<app-nav-bar></app-nav-bar>

<h1>Search for a repository</h1>
<!-- <div class="repo-wrapper"> -->
<div class="search-wrapper">
  <div class="repo-search">
    <input #username placeholder="Username" (keyup.enter)='lookupRepo(username.value, repo.value); username.value="";repo.value="";'>
    <input #repo placeholder="Repo name" (keyup.enter)='lookupRepo(username.value, repo.value); username.value="";repo.value="";'>
    <button class="top-left" (click)='lookupRepo(username.value, repo.value); username.value="";repo.value="";'>Search</button>
  </div>

  <div *ngIf='searchedRepo'>
    <div class="searched-user">
      <div class="searched-header">
        <img src="{{searchedRepo.creatorAviURL}}" class="avatar">
        <h2><a href="{{searchedRepo.repoURL}}">{{searchedRepo.repoName}}</a></h2>
        <h3>Created by: <a href="{{searchedRepo.userURL}}">{{searchedRepo.createdBy}}</a></h3>
        <h4>Description: {{searchedRepo.description}}</h4>
        <p>Clone me: {{searchedRepo.cloneURL}}</p>
        <hr>
      </div>
      <div class="searched-secondary">
        <p><strong> <i class="fa fa-html5" aria-hidden="true"></i>
 Website:</strong> {{searchedRepo.homepage}}</p>
        <p><i class="fa fa-code" aria-hidden="true"></i> <strong>Written with:</strong> {{searchedRepo.language}}</p>
      </div>
      <div class="searched-secondary">
        <p><strong><i class="fa fa-code-fork" aria-hidden="true"></i> Number of forks:</strong> {{searchedRepo.forks}}</p>
        <p><i class="fa fa-git-square" aria-hidden="true"></i> <strong>Commits:</strong> {{searchedRepo.commitsNumber}}</p>
      </div>
      <div class="searched-secondary">
        <p><i class="fa fa-star" aria-hidden="true"></i> <strong>Stars:</strong> {{searchedRepo.stars}}</p>
        <p><strong><i class="fa fa-file-code-o" aria-hidden="true"></i> File size:</strong> {{searchedRepo.fileSize}} kb</p>
      </div>
      <div class="searched-secondary">
        <p><strong><i class="fa fa-eye" aria-hidden="true"></i> Number of watchers:</strong> {{searchedRepo.watchers}}</p>
        <p><i class="fa fa-pencil" aria-hidden="true"></i> <strong>Created at:</strong> {{searchedRepo.createdAt | date}}</p>
      </div>
      <div class="searched-secondary">
        <p><strong><i class="fa fa-terminal" aria-hidden="true"></i> Last push:</strong> {{searchedRepo.lastUpdatedAt | date}}</p>
      </div>
      <div class="results-wrapper">
        <h3><strong>Last 5 commits:</strong></h3>
        <div *ngFor='let commit of searchedRepo.commits'>
          <p><strong>Message:</strong> {{commit.message}}</p>
          <p><em>{{commit.name}}</em> | <em>{{commit.date | date}}</em></p>
        </div>
        <h3>Contributors:</h3>
        <div *ngFor='let contributor of searchedRepo.contributors'>
          <img src="{{contributor.avatarUrl}}" class="avatar-sm"/>
          <h3><a href="{{contributor.ghUrl}}">{{contributor.username}}</a></h3>
          <p><strong>Contributions: {{contributor.contributions}}</strong></p>
        </div>
      </div>
    </div>
    <div *ngIf='searchedRepoCollection'>
      <div *ngFor='let repo of searchedRepoCollection'>
        <img src="{{repo.authorAviUrl}}" class="avatar">
        <p><a href="{{repo.authorUrl}}">{{repo.authorName}}</a>/<strong><a href="{{repo.repoUrl}}">{{repo.repoName}}</a></strong>
          | {{repo.language}} | {{repo.stars}} stars |
          <span *ngIf='repo.homepage'><a href="{{repo.homepage}}">Website</a></span></p>
          <p *ngIf='repo.description'>{{repo.description}}</p>
          <button (click)='lookupRepo(repo.authorName, repo.repoName)'>View Details</button>
        </div>

      </div>
  </div>
</div>
<!-- </div> -->
