<navbar></navbar>

<div class="search-wrapper">
  <div class="repo-search">
    <h2>Search for a repository</h2>
    <input #username placeholder="Username">
    <input #repo placeholder="Repo name">
    <button (click)='lookupRepo(username.value, repo.value); username.value="";repo.value="";'>Search</button>
  </div>

  <div *ngIf='searchedRepo'>
    <div class="searched-user">
      <div class="searched-header">
        <img src="{{searchedRepo.creatorAviURL}}" class="avatar">
        <h2><a href="{{searchedRepo.repoURL}}">{{searchedRepo.repoName}}</a></h2>
        <h3>Created by: <a href="{{searchedRepo.userURL}}">{{searchedRepo.createdBy}}</a></h3>
        <h4>Description: {{searchedRepo.description}}</h4>
        <p>Clone me: {{searchedRepo.cloneURL}}</p>
        <hr>
      </div>
      <p>Website: {{searchedRepo.homepage}}</p>
      <p>Written with: {{searchedRepo.language}}</p>
      <p>Number of forks: {{searchedRepo.forks}}</p>
      <p>Commits: {{searchedRepo.commitsNumber}}</p>
      <p>Stars: {{searchedRepo.stars}}</p>
      <p>File size: {{searchedRepo.fileSize}} kb</p>
      <p>Number of watchers: {{searchedRepo.watchers}}</p>
      <p>Created at: {{searchedRepo.createdAt | date}}</p>
      <p>Last push: {{searchedRepo.lastUpdatedAt | date}}</p>
      <p>Last 5 commits:</p>
      <div *ngFor='let commit of searchedRepo.commits'>
        <p>Message: {{commit.message}}</p>
        <p>{{commit.author}} | {{commit.date | date}}</p>
      </div>
      Contributors:
      <div *ngFor='let contributor of searchedRepo.contributors'>
        <h3><a href="{{contributor.ghUrl}}">{{contributor.username}}</a></h3>
        <img src="{{contributor.avatarUrl}}"/>
        <p>Contributions: {{contributor.contributions}}</p>
      </div>
    </div>
  </div>
  <div *ngIf='searchedRepoCollection'>
    <div *ngFor='let repo of searchedRepoCollection'>
      <img src="{{repo.authorAviUrl}}" class="avatar">
      <p><a href="{{repo.authorUrl}}">{{repo.authorName}}</a>/<strong><a href="{{repo.repoUrl}}">{{repo.repoName}}</a></strong>
       | {{repo.language}} | {{repo.stars}} stars |
      <span *ngIf='repo.homepage'><a href="{{repo.homepage}}">Website</a></span></p>
      <p *ngIf='repo.description'>{{repo.description}}</p>
      <button (click)='lookupRepo(repo.authorName, repo.repoName)'>View Details</button>
    </div>
  </div>
</div>
