////////////////////////
//// GLOBAL STYLES ////
//////////////////////

::selection {
  background-color: hotpink;
  color: white;
}

body {
  font-family: sans-serif;
  // background-color: $blue;
  background-image: linear-gradient(to top, $lighter-blue, $blue);
}

a {
  text-decoration: none;
}

a {
  color: purple;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 5px 0;
}

//////////////////////
/////// NAVBAR //////
/////////////////////

nav li {
  padding-right: 20px;
}

.left-nav li {
font-size: 25px;
}

.right-nav li {
font-size: 20px;
}
