////////////////////////
//// GLOBAL STYLES ////
//////////////////////


::selection {
  background-color: hotpink;
  color: white;
}

body {
  font-family: $primary, sans-serif;
  font-size: 1.1em;
  background-image: linear-gradient(to top, $blue, $lighter-blue, $blue);
}

a {
  text-decoration: none;
}

a {
  color: purple;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 5px 0;
}

.animated-h1 {
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px darken($blue, 10%);
  color: $white;
  position: relative;
  top: 0;
  left: 0;
  width: 470px;
  height: 100px;
  margin: 20px auto 0 auto;
  // border: 5px solid red;
  &:before {
    font-size: 20px;
    content: "\25CF";
    text-shadow: 0 0 30px $white;
    position: absolute;
    left: 40px;
    animation: twinkle 1.3s infinite alternate ease-in-out;
    transform-origin:middle;
  }
  &:after {
    font-size: 15px;
    content: "\25CF";
    text-shadow: 0 0 30px $white;
    position: absolute;
    left: 10px;
    animation: twinkle 1.3s infinite alternate ease-in-out;
    animation-delay: 0.6s;
    transform-origin:middle;
  }
}

.star-wrapper {
  @extend .animated-h1;
  margin: 20px auto;
  &:before {
    font-size: 20px;
    content: "\25CF";
    text-shadow: 0 0 30px $white;
    position: absolute;
    left: 440px;
    top: 0;
    animation: twinkle 1.3s infinite alternate ease-in-out;
    animation-delay: 0.8s;
    transform-origin:middle;
  }
  &:after {
    font-size: 15px;
    content: "\25CF";
    text-shadow: 0 0 30px $white;
    position: absolute;
    right: -355px;
    top: 7px;
    animation: twinkle 1.3s infinite alternate ease-in-out;
    animation-delay: 0.3s;
    transform-origin:middle;
  }
}

*::-webkit-scrollbar {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(110, 84, 148, .5);
  border-radius: 10px;

}


.chat-h1 {
  margin: 50px 0;
  text-align: center;
  color: $white;
}
@keyframes twinkle {
  to {
    transform: scale(1);
  }
  from {
    transform: scale(.5);
  }
}

hr {
  border-top: 2px solid $black;
  border-bottom: none;
}

//////////////////////
/////// NAVBAR //////
/////////////////////

nav li {
  padding-right: 20px;
}

.left-nav li {
font-size: 25px;
}

.right-nav li {
font-size: 20px;
}
